<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Thegioididong.com - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng</title>
    <meta name="keywords" content="Thế giới di động, Thegioididong, điện thoại di động, dtdd, smartphone, tablet, máy tính bảng, laptop, máy tính xách tay, phụ kiện, smartwatch, đồng hồ, tin công nghệ"/>
    <meta name="description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện, smartwatch, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN"/>
    <meta property="og:title" content="Thegioididong.com - Điện thoại, Laptop, Phụ kiện, Đồng hồ chính hãng"/>
    <meta property="og:description" content="Hệ thống bán lẻ điện thoại di động, smartphone, máy tính bảng, tablet, laptop, phụ kiện, smartwatch, đồng hồ chính hãng mới nhất, giá tốt, dịch vụ khách hàng được yêu thích nhất VN"/>
    <meta property="og:image" content="https://cdnv2.tgdd.vn/webmwg/2024/ContentMwg/images/default-tgdd.png"/>
    <meta property="og:site_name" content="Thegioididong.com"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="vi_VN"/>
    <meta content="INDEX,FOLLOW" name="robots"/>
    <meta name="copyright" content="Công ty Cổ phần Thế Giới Di Động"/>
    <meta name="author" content="Công ty Cổ phần Thế Giới Di Động"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="x-dns-prefetch-control" content="on"/>

    <!-- Favicon -->
    <link href="//cdn.tgdd.vn/favicon_TGDD.ico" rel="shortcut icon" type="image/x-icon"/>
    <link href="//cdn.tgdd.vn/favicon_TGDD.ico" rel="apple-touch-icon"/>

    <!-- Google Fonts Inter -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">

    <!-- jQuery (required by TGDD scripts and our footer showtaga) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- TGDD All-inline CSS (owl-carousel, location box, product cards, home pages) -->
    <link rel="stylesheet" th:href="@{/css/all-inline.css}">

    <!-- TGDD Clone CSS (sprite icons, layout, nav menu) -->
    <link rel="stylesheet" th:href="@{/css/tgdd-clone.css}">

    <!-- Bootstrap (for admin/product forms) -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">

    <!-- FontAwesome (for category icons on nav and admin picker) -->
    <link rel="stylesheet" th:href="@{/css/fa6.min.css}">

    <!-- Custom overrides -->
    <link rel="stylesheet" th:href="@{/css/style.css(v=${#dates.format(#dates.createNow(),'yyyyMMddHHmmss')})}">
</head>
</html>
